// Copyright (C) 2024 Genome Research Ltd.

// Config inheritance options
params {
    generic_config_base = "https://raw.githubusercontent.com/sanger-pathogens/nextflow-commons/"
    generic_config_version = "master"
    generic_config_url = ""
}
inherit_generic_config()

manifest {
    name            = '{{pipeline_name}}'
    author          = 'PAM Informatics'
    homePage        = '{{pipeline_url}}'
    description     = '{{pipeline_description}}'
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.04.0'
    version         = '{{pipeline_version}}'
    recurseSubmodules = true
}

includeConfig "./assorted-sub-workflows/mixed_input/mixed_input.config"
includeConfig "./assorted-sub-workflows/sylph_refset/sylph_refset.config"

params {
    // general options
    manifest = null
    outdir = "./results"
    only_new_input = false // hidden option until pipeline_chaining in mixed_input fully supported

    // workflow options
    ref_prep_only = false
    ref_mode = null // index|full|refine|autoselect

    // references options
    references = null
    representatives = 20
    cluster_dist = "core_acc" // core_acc (poppunk) | ani (sketchlib-igraph)
    cluster_method = 'network_based_trim' // hidden option for 'refine' workflow

    // cache autoselection options
    cache_dir = null // cache root for config-specific species reference caches in autoselect mode

    // poppunk options
    poppunk_model = "dbscan"
    publish_poppunk = false

    // sketchlib workflow options
    sketchlib_kstep = "13,29,4"
    cluster_algorithm = "connected_components" // connected_components|leiden|louvain|walktrap|fastgreedy|label_propagation|infomap|eigenvector
    ani_threshold = 0.02
    cluster_strict = false

    // themisto options
    themisto_index = null // for index ref mode
    themisto_k = 31
    temp_dir = null
    temp_space = 10000
    
    // msweep options
    ref_groups = null // for index ref mode

    // mgems options
    get_assignments = false
    min_abundance = 0.0001
}

process {
    maxRetries = params.max_retries
    withLabel: request_temp {
        clusterOptions = "-R 'rusage[tmp=${params.temp_space}]'"
    }
}

// Helper functions
def inherit_generic_config() {
    config_url = params.generic_config_url ? params.generic_config_url : "${params.generic_config_base}/${params.generic_config_version}/configs/nextflow.config"
    try {
        includeConfig "${config_url}"
    } catch (Exception e) {
        System.err.println("ERROR: Could not load generic config: ${config_url}")
        System.err.println("Encountered the following exception:")
        throw e
    }
}
