// Copyright (C) 2024 Genome Research Ltd.

// Config inheritance options
params {
    generic_config_base = "https://raw.githubusercontent.com/sanger-pathogens/nextflow-commons/"
    generic_config_version = "master"
    generic_config_url = ""
}
inherit_generic_config()

manifest {
    name            = '{{pipeline_name}}'
    author          = 'PAM Informatics'
    homePage        = '{{pipeline_url}}'
    description     = '{{pipeline_description}}'
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.04.0'
    version         = '{{pipeline_version}}'
    recurseSubmodules = true
}

includeConfig "./assorted-sub-workflows/mixed_input/mixed_input.config"
includeConfig "./assorted-sub-workflows/sylph_refset/sylph_refset.config"

params {
    // general options
    outdir = "./results"
    manifest = null

    // reference input options
    ref_mode = null // index|full|refine|autoselect
    references = null
    cluster_tool = null // poppunk|sketchlib - for 'refine' or 'full' ref mode only
    representatives = 20
    cluster_method = 'network_based_trim' // hidden option

    // themisto options
    temp_dir = null
    temp_space = 10000
    themisto_index = null
    kmer_size = 31
    
    // msweep options
    ref_groups = null

    // mgems options
    get_assignments = false
    min_abundance = 0.0001

    // poppunk options
    poppunk_model = "dbscan"
    publish_poppunk = false
}

process {
    maxRetries = params.max_retries
    withLabel: request_temp {
        clusterOptions = "-R 'rusage[tmp=${params.temp_space}]'"
    }
}

// Helper functions
def inherit_generic_config() {
    config_url = params.generic_config_url ? params.generic_config_url : "${params.generic_config_base}/${params.generic_config_version}/configs/nextflow.config"
    try {
        includeConfig "${config_url}"
    } catch (Exception e) {
        System.err.println("ERROR: Could not load generic config: ${config_url}")
        System.err.println("Encountered the following exception:")
        throw e
    }
}
